@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Antic&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')


/* .antic-regular {
    font-family: "Antic", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  



